{% extends "CarcelUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <a href="{{ path('carcel_user_admin_index') }}"
       class="btn btn-default pull-right">
        {{ 'carcel_user.button.back'|trans }}
    </a>

    <h2>{{ 'carcel_user.admin.set_role.title'|trans({ '%name%': username }) }}</h2>

    <div class="well col-lg-2 col-md-3 col-sm-4">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.roles, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-default'} }) }}
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
