<a href="
    {% if previous is defined %}
        {{ previous }}
    {% else %}
        {{ path('root') }}
    {% endif %}
    "
   class="btn btn-default pull-right">
    {{ 'carcel_user.button.back'|trans }}
</a>

<h1>{{ 'carcel_user.profile.show'|trans({'%username%': app.user.username}) }}</h1>

<div class="fos_user_user_show well">
    <p>
        {{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}
    </p>

    <p>
        {{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}
    </p>
    <p>
        <a href="{{ path('fos_user_profile_edit') }}">{{ 'carcel_user.profile.edit.link'|trans }}</a>
    </p>
    <p>
        <a href="{{ path('fos_user_change_password') }}">{{ 'carcel_user.profile.password.link'|trans }}</a>
    </p>
</div>
