<a href="{{ path('fos_user_profile_show') }}"
   class="btn btn-default pull-right">
    {{ 'carcel_user.button.back'|trans }}
</a>

<h2>{{ 'carcel_user.change_password.title'|trans({ '%name%': app.user.username }) }}</h2>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password well col-lg-3 col-md-3 col-sm-4"' } }) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_row(form.current_password, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
    </div>

    {{ form_rest(form) }}

    <div class="form-group">
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-default" />
    </div>
{{ form_end(form) }}
