<div class="login-wall panel panel-default">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-group'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        </div>

        {{ form_rest(form) }}

        <div class="form-group">
            <a href="{{ path('fos_user_security_login') }}">{{ 'carcel_user.button.back'|trans }}</a>
            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-default pull-right" />
        </div>
    {{ form_end(form) }}
</div>
